@use '01-settings' as *;
@use 'styles/02-tools' as *;

// MIN WIDTH
/*
@media only screen and (min-width: $break-mobile-s){ // 480px
}
*/
@media only screen and (min-width: $break-mobile){ // 576px
    .page{width:$break-mobile; padding:$space-xl;}
    .main-content__img{max-width:toRem(512);}
}

@media only screen and (min-width: $break-tablet-potrait){ // 768px
    .page{width:$break-tablet-potrait;}
    .main-content__img{max-width:toRem(460);}
}

@media only screen and (min-width: $break-tablet-landscape){ // 992px
    .page{width:$break-tablet-landscape;}
    .main-content__img{max-width:toRem(610);}
}

@media only screen and (min-width: $break-desktop){ // 1200px
    .page{width:$break-desktop;}
    .main-content__img{max-width:unset;}
}

// MAX WIDTH
@media only screen and (max-width: calc($break-mobile - 1px)){
    .main-header__title{margin-bottom:$space-m;}
    .main-header{flex-direction:column;}
}

/* TABLE MEDIA QUERIES for mobile & tablet */
@media 
only screen and (max-width: $break-mobile),
(min-device-width: $break-mobile) and (max-device-width: $break-tablet-potrait)  {

    :root .table{
        // Force table to not be like tables anymore
        display:block; 
        thead, tbody, th, td, tr{display:block;}
        
        // Hide table headers for accessibility
        thead tr { 
            position: absolute;
            top: -999px;
            left: -999px;
        }
        td, th{border-width:1px 0;}
    }
}
