@use 'styles/01-settings' as *;
@use 'styles/02-tools' as *;
@use "styles/grid-system" as *;


$radius-box: 5px;

.main-nav--active{border:2px solid red;}

.highlight{font-style:italic;}
.title{font-weight:bold; margin-bottom:$space-s;}
.main-content__img{height:auto; max-height:toRem(250); margin-bottom:$space-m;}
.inventory{
    border:1px solid $color-grey-l1; font-size:.9rem; border-radius:$radius-box;
    .list{margin-top:$space-m;}
}
.main-ui{
    width:100%;
    .col1{@include col-size-8;}
    .col2{@include col-size-4;}
}

.main-nav, .inventory{
    background:var(--main-nav-bg); border-radius:$radius-box;
    text-shadow:0 0 1px transparent, 0 1px 2px rgb(0 0 0 / 80%);
}