@use 'styles/01-settings' as *;

.img--border{border-radius:20px;}
.par--center{
    margin:auto; max-width:$max-width;
    p{max-width:$max-width;}
}
.intro-content{margin-bottom:$space-l;}
.box-intro{border:1px solid white;}

// Blood Gradient
.gradient1{
    color:#f8b700!important;
    background: -webkit-linear-gradient(var(--color-text) 60%, #c00 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.separator{
    transform: scale(.75);
}